* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    background-color: #e1ebfa;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 1;
}

.nav-logo {
    width: 40%;
    display: flex;
    height: 50px;
}

.nav-logo img {
    height: 50px;
    width: 150px;
    display: flex;
    margin-left: 80px;
    margin-bottom: 10px;
}

.nav-content {
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
}

.nav-content a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.home-main {
    background-color: #e1ebfa;
    height: 750px;
    width: 100%;
    display: flex;
}

.main-text {
    width: 50%;
}

.main-img {
    width: 50%;
    width: 673px;
    margin-top: 50px;
}

.main-img img {
    margin-top: 100px;
    margin-left: 100px;
    height: 500px;
    width: 500px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.main-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: start;
    margin: 200px 80px 10px 80px;
}

.main-text p {
    text-align: start;
    font-size: 26px;
    margin-left: 80px;
    margin-right: 80px;
}

.btn1 {
    background-color: darkslateblue;
    color: white;
    margin: 60px 0px 0px 80px;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.btn2 {
    background-color: transparent;
    color: darkslateblue;
    margin: 60px 0px 0px 5px;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid darkslateblue;
}

.services-box-1 {
    width: 100%;
    height: 300px;
    display: flex;
}

.services-box-1 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    font-size: 50px;
}

.services-box-2 {
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.services-box-3 {
    /* display: flex; */
    width: 100%;
    height: 800px;
    background-image: url(../Required-Files/Empl.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-box-3 p {
    font-size: 50px;
    width: 50%;
    height: 180px;
    margin-top: 150px;
    margin-left: 100px;
    background-color: antiquewhite;
}

.btn3 {
    background-color: darkred;
    color: white;
    margin: 20px 0px 0px 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
}

.Portfolio-box-1 {
    width: 100%;
    height: 400px;
    display: flex;
}

.Portfolio-box-1 p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 150px;
    width: 100%;
    font-size: 50px;
}

.Portfolio-box-2 {
    width: 100%;
    display: flex;
    /* position: absolute; */
}

.pic1 {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 40%;
    left: 120px;
    bottom: 20px;
    border-radius: 20px;
}

.pic1:hover {
    cursor: pointer;
}

.pic1 .text1 {
    position: absolute;
    /* margin: 0 15px; */
    padding: 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: transparent;
    mix-blend-mode: hard-light;
    right: 0;
    text-align: center;
    top: 0;
    opacity: 0;
    -webkit-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -moz-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -ms-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -o-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
}

.pic1 .text1 h4 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-top: 22%;
}

.pic1:hover .text1 {
    opacity: 1;
    background: rgba(123, 192, 67, 0.5);
}

.pic1 .text1 p {
    color: #fff;
}

.pic2 {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 40%;
    left: 160px;
    bottom: 20px;
    border-radius: 20px;
}

.pic2:hover {
    cursor: pointer;
}

.pic2 .text2 {
    position: absolute;
    /* margin: 0 15px; */
    padding: 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: transparent;
    mix-blend-mode: hard-light;
    right: 0;
    text-align: center;
    top: 0;
    opacity: 0;
    -webkit-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -moz-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -ms-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -o-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
}

.pic2 .text2 h4 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-top: 22%;
}

.pic2:hover .text2 {
    opacity: 1;
    background: rgba(123, 192, 67, 0.5);
}

.pic2 .text2 p {
    color: #fff;
}

.pic3 {
    position: relative;
    overflow: hidden;
    height: 300px;
    width:40%;
    left: 200px;
    bottom: 20px;
    border-radius: 20px;
}

.pic3:hover {
    cursor: pointer;
}

.pic3 .text3 {
    position: absolute;
    /* margin: 0 15px; */
    padding: 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: transparent;
    mix-blend-mode: hard-light;
    right: 0;
    text-align: center;
    top: 0;
    opacity: 0;
    -webkit-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -moz-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -ms-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -o-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
}

.pic3 .text3 h4 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-top: 22%;
}

.pic3:hover .text3 {
    opacity: 1;
    background: rgba(123, 192, 67, 0.5);
}

.pic3 .text3 p {
    color: #fff;
}

.pic4 {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 40%;
    top: 300px;
    right: 1020px;
    /* left: 80px; */
    bottom: 20px;
    border-radius: 20px;
}

.pic4:hover {
    cursor: pointer;
}

.pic4 .text4 {
    position: absolute;
    /* margin: 0 15px; */
    padding: 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: transparent;
    mix-blend-mode: hard-light;
    right: 0;
    text-align: center;
    top: 0;
    opacity: 0;
    -webkit-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -moz-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -ms-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    -o-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
    transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
}

.pic4 .text4 h4 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-top: 22%;
}

.pic4:hover .text4 {
    opacity: 1;
    background: rgba(123, 192, 67, 0.5);
}

.pic4 .text4 p {
    color: #fff;
}
